.score {
    display: flex;
    justify-content: center;
    gap: 100px;
    border-style: solid;
    width: 25vw;
    background-color: black;
}

.playerScore {
    color: blue;
}

.pScore {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.computerScore {
    color: red;
}

.cScore {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.move {
    display: flex;
    justify-content: center;
    width: 25.4vw;
    color: antiquewhite;
    background-color: black;
}

.roundsLeft {
    display: flex;
    justify-content: center;
    width: 25.4vw;
    color: antiquewhite;
    background-color: black;
}

.options {
    display: flex;
    justify-content: center;
    width: 25.4vw;
    color: antiquewhite;
    background-color: black;
    gap: 100px;
}

.result {
    display: flex;
    justify-content: center;
    width: 25.4vw;
    color: antiquewhite;
    background-color: black;
    font-size: xx-large;
}

.reload {
    display: flex;
    justify-content: center;
    width: 25.4vw;
    color: antiquewhite;
    background-color: black;
}

.bReload {
    width: 25vw;
    margin-top: 20px;
}